DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

MQTT_HOST=
MQTT_PORT=
MQTT_USER=
MQTT_PASSWORD=@SWXC

PORT=

JWT_SECRET=

EMAIL_USER=
PASSWORD_EMAIL=
APP_PASSWORD=

FRONTEND_URL=http://localhost:3000